<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Cards</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/index.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <span>barries</span>
            <span>contests</span>
            <span>encontros</span>
            <span>pokemons</span>
        </nav>
    </header>
    <div class="content">
        <button id="next-button">></button>
        <button id="prev-button"><</button>
        <div class="head">
            <h1>Pokémons</h1>
        </div>
        <main id="main">

        </main>
        <div class="footer">

        </div>
    </div>
</body>
</html>
